@backgroundColor: #E2E0E6;

div.image, img {
	margin-left: auto;
        margin-right: auto;
	margin-bottom: 15px;
}

#title, .btn-list {
	text-align: center;
}

.badge {
	color: black;
}

#container {
	width: 500px;
	background-color: @backgroundColor;
}

dt, dd {
	font-size: 11pt;
	text-shadow: none;
}

#container > .badge {
	padding: 20px;
	background-color: @backgroundColor;
}

dt {
	padding-top: 5px;
	font-size: 13pt;
}

#title {
	padding-top: 20px;
	font-size: 22pt;
}

img {
	display: block;
}

.btn-list {
	list-style-type: none;
	margin-left: 0;
	li {
 	      	display: inline;
        	margin: 5px;
	}	
}
