{% extends "badger/base.html" %}


{% block pageid %}award_detail{% endblock %}

{% block extrahead %}
    <link rel="alternate" type="application/json"
        title="{{award}} (JSON)')"
        href="{% url badger.award_detail_json badge.slug award.pk %}" />
{% endblock %}

{% block content %}
<section class="row-fluid">
    <section class="span4">
        <header class="page-header">  
            <h2>Badge: </h3>
        </header>
        {% include "badger/includes/badge_full.html" %}
    </section>

    <section class="award span8">
        <header class="page-header">
            <h2>Award detail</h2>
        </header>
        {% include "badger/includes/award_full.html" %}
    </section>


{% endblock %}
