{% extends "badger/base.html" %}

{% block pageid %}badge_award{% endblock %}

{% block pageJS %}
    <script src="/static/js/jquery-ui-1.10.4.custom.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.autocomplete.js"></script>
{% endblock %}

{% block content %}
<section class="row">
    <section class="col-md-4">
        <header class="page-header">
            <h2>Badge: {{ badge_title }}</h2>
        </header>
        {% include "badger/includes/badge_full.html" %}
    </section>

    <section class="col-md-8">
        <header class="page-header">
            <h2>Award a Badge</h2>
        </header>
        <form id="award_badge" method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="ui-widget" name="combobox">
            <ul>
                {{ form.as_ul }}
                <li><input type="submit" class="submit btn btn-success" value="Award"></li>
            </ul>
            </div>
        </form>
    </section>
</section>

{% endblock %}
