{% extends "badger/base.html" %}

{% block pageid %}badge_create{% endblock %}

{% load static %}
    {% block pageCSS %}
    {% if not perms.taggit.add_tag %}
    <link rel="stylesheet" href="{% static "css/chosen.min.css" %}" type="text/css" />
    {% endif %}
    {% endblock %}

    {% block pageJS  %}
    {% if not perms.taggit.add_tag %}
        <script src="{% static "js/chosen.jquery.min.js" %}" type="text/javascript"></script>
        <script src="{% static "js/badger.js" %}" type="text/javascript"></script>
    {% endif %}
    {% endblock %}
{% block content %}
<section>
    <header>
        <h2>Create a badge</h2>
    </header>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <form id="create_badge" method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <ul>
                <li class="required">
                  <label for="id_title">Title: </label><br />
                  {{ form.title }}
                  <p class="help">{{ form.title.help_text }}</p>
                </li>
                <li>
                  <label for="id_image">Image: </label>
                  {{ form.image }}
                  <p class="help">{{ form.image.help_text }}</p>
                </li>
                <li class="col-xs-12">
                  <label for="id_description">Description: </label><br />
                  {{ form.description }}
                  <p class="help">{{ form.description.help_text }}</p>
                </li>
                <li>
                  <label for="id_tags">Tags: </label><br />
 {# Checking if the user has permissions to add a tag. If they do, then the normal tag text field is used. If they do not, they get a chosen tag field with current tag options to choose from. #}
                 {% if perms.taggit.add_tag %}
                    {{ form.tags }}
                    <p class="help">{{ form.tags.help_text }}</p>
                 {% else %}
                    {% load taggit_extras %}
                    {% get_taglist as tags for 'badger.Badge' %}
                    <select class="tagopt" multiple="multiple" data-placeholder="Click to select tag/s.">
                    {% for tag in tags %}
                        <option>
                            {{tag}}
                        </option>
                    {% endfor %}
                    </select> 
                    {#hack for now, until alternative method is found (if exists?) chosen sends multiple tag parameters that replace each other in the data model instead of as a list in POST request. to fix this, javascript updates hidden input value with tag parameters in list format and sends that instead. #}
                    <input type="hidden" id="id_tags" name="tags" />
                 {% endif %}
                 <p class="help"></p>
                </li>
                <li>
                  <label for="id_unique">Unique: </label><br />
                  {{ form.unique }}
                  <p class="help">{{ form.unique.help_text }}</p>
                </li>
                <li>
                  <label for="id_prerequisites">Prerequisites: </label><br />
                  {{ form.prerequisites }}
                  <p class="help">{{ form.prerequisites.help_text }}</p>
                </li>
                <li>
                  <label for="id_nominations_accepted">Nominations accepted: </label><br />
                  {{ form.nominations_accepted }}
                  <p class="help">{{ form.nominations_accepted.help_text }}</p>
                </li>
                <li>
                  <label for="id_nominations_autoapproved">Nominations autoapproved: </label><br />
                  {{ form.nominations_autoapproved }}
                  <p class="help">{{ form.nominations_autoapproved.help_text }}</p>
                </li>
            <li><input type="submit" class="submit" value="Create badge"></li>
        </ul>
    </form>
    </div>
</section>
{% endblock %}
