{% extends "badger/base.html" %}

{% block pageid %}home{% endblock %}

{% block content %}

<section class="badges_list">
    <h2>All Badges</h2>
    {% include "badger/includes/badges_list_prereq.html" %}
</section>

<section id="suggested_badges" class="badges_list">
    <h2>Suggested Badges</h2>
    <ul class="badges">
        {% for badge in progress %}

            <li class="badge">
                <a href="{{ badge.get_absolute_url }}" class="image">
                {% if badge.image %}
                    <img src="{{badge.image.url}}" 
                {% else %}
                    <img src="/media/img/default-badge.png"
                {% endif %}
            
                    alt="{{ badge.title }}" width="128" height="128" /></a>
                <a href="{{ badge.get_absolute_url }}" class="label"><span class="title">{{ badge.title }}</span></a>
            </li>
        {% endfor %}
    </ul>
</section>

{% include "badger/includes/pagination.html" %}    

{% endblock %}
