{% extends "badger/base.html" %}

{% load badger_tags %}
{% block pageid %}nomination_detail{% endblock %}

{% block content %}
<section class="row-fluid">

    <section class="span4">
        <header class="page-header">
            <h2> Badge: </h2>
        </header>
        {% include "badger/includes/badge_full.html" %}
    </section>

    <section class="nomination span8">
        <header class="page-header">
            <h2>{{ _("Nomination detail") }}</h2>
        </header>
        <dl class="nomination">
                <dt>{{ _("Actions:") }}</dt><dd><ul class="btn-list">
                    {% if show_approve %}
                    <li><form method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="action" value="approve_by" />
                            <button class="btn btn-large btn-primary">{{ _('Approve nomination') }}</button>
                        </form></li>
                    {% endif %}
                    {% if show_accept %} 
                        <li><form method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="action" value="accept" />
                            <button class="btn btn-large btn-primary">
                                {% if request.user == nomination.user %}
                                    {{ _('Accept your nomination') }}
                                {% else %}
                                    {{ _('Accept nomination on behalf of nominee') }}
                                {% endif %}
                            </button>
                        </form></li>
                    {% endif %}
                    {% if show_approve %}
                    <li><form method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="action" value="reject_by" />
                            <button class="btn btn-large btn-danger">{{ _('Reject nomination') }}</button>
                        </form></li>
                    {% endif %}
                </ul></dd>
            {% if show_approve or show_accept %}
                <dt>{{ _("Description:") }}</dt>
                    {% if nomination.description %}
                        <dd> {{ nomination.description }} </dd>
                    {% else %}
                        <dd> None </dd>
                    {% endif %}
                <dt> {{ _("Evidence:") }}</dt>
                    {% if nomination.evidence %}
                        <dd> {{ nomination.evidence }} </dd>
                    {% else %}
                        <dd> None </dd>
                    {% endif %}
            {% endif %}

            {% if nomination.award %}
                <dt>{{ _("Award:") }}</dt>
                    <dd><a href="{{ nomination.award.get_absolute_url }}">{{ nomination.award }}</a></dd>
            {% endif %}
            <dt>{{ _("Nominee:") }}</dt>
                <dd><a href="/people/{{ nomination.nominee.username }}"><img src="{% user_avatar nomination.nominee %}" class="avatar" alt="{{ nomination.nominee }}" width="24" height="24" />{{ nomination.nominee }}</a></dd>
            <dt>{{ _("Accepted?:") }}</dt>
                <dd>{{ nomination.accepted }}</dd>
            <dt>{{ _("Nominator:") }}</dt>
                <dd><a href="/people/{{ nomination.creator.username }}"><img src="{% user_avatar nomination.creator %}" class="avatar" alt="{{ nomination.creator }}" width="24" height="24" />{{ nomination.creator }}</a></dd>
            {% if nomination.approver %}
                <dt>{{ _("Approver:") }}</dt>
                    <dd><a href="/people/{{ nomination.approver.username }}"><img src="{% user_avatar nomination.approver %}" class="avatar" alt="{{ nomination.approver }}" width="24" height="24" />{{ nomination.approver }}</a></dd>
            {% else %}
                <dt>{{ _("Approved?:") }}</dt>
                    <dd>{{ _("No") }}</dd>
            {% endif %}
            {% if nomination.rejected_by %}
                <dt>{{ _("Rejected by:") }}</dt>
                    <dd><a href="/people/{{ nomination.rejected_by.username }}"><img src="{% user_avatar nomination.rejected_by %}" class="avatar" alt="{{ nomination.rejected_by }}" width="24" height="24" />{{ nomination.rejected_by }}</a></dd>
                {% if nomination.rejected_reason %}
                    <dt>{{ _("Rejected reason:") }}</dt>
                    <dd>{{ nomination.rejected_reason }}</dd>
                {% endif %}
            {% endif %}
            <dt>{{ _("Created:") }}</dt>
                <dd>{{ nomination.created }}</dd>
            <dt>{{ _("Modified:") }}</dt>
                <dd>{{ nomination.modified }}</dd>
        </dl>
    </section>

</section>

{% endblock %}
