{% load badger_tags %}


<dl id="container" class="badge-detail" data-slug="{{ badge.slug }}">
<div id="title" class="title">{{ badge.title }}</div>
<dl class="badge-detail" data-slug="{{ badge.slug }}">
    {% if award and award.image %}
        <dt>Image:</dt>
            <dd class="image"><a href="{{ badge.get_absolute_url }}" class="image"><img src="{{ award.image.url }}" width="256" height="256" /></a></dd>
    {% else %}
        {% if badge.image %}
            <div class="image"><a href="{{ badge.get_absolute_url }}" class="image"><img src="{{ badge.image.url }}" width="256" height="256" /></a></div>
        {% endif %}
    {% endif %}
    <ul class="btn-list">
        {% if perms.badger.change_badge %}
            <li><a class="btn btn-primary edit_badge" href="{% url badger.views.edit badge.slug  %}">{{ _('Edit') }}</a></li>
        {% endif %}
        {% if perms.badger.delete_badge %}
            <li><a class="btn btn-danger delete_badge" href="{% url badger.views.delete badge.slug %}">{{ _('Delete') }}</a></li>
        {% endif %}
        {% if not badge.retired %}
            {% if perms.badger.add_award %}
                <li><a class="btn btn-primary award_badge" href="{% url badger.views.award_badge badge.slug %}">{{ _('Award') }}</a></li>
            {% endif %}
            {% if perms.badger.add_nomination %}
                <li><a class="btn btn-danger nominate_badge" href="{% url badger.views.nominate_for badge.slug %}">{{ _('Nominate') }}</a></li>
            {% endif %}
            {% if retire and perms.badger.delete_badge %}
                <li><a class="btn btn-danger retire_badge" href="{% url badger.views.retire badge.slug %}">{{ _('Retire') }}</a></li>
            {% endif %}
        {% elif perms.badger.delete_badge %}
            <li><a class="btn btn-danger unretire_badge" href="{% url badger.views.unretire badge.slug %}">{{ _('Unretire') }}</a></li>
        {% endif %}

    </ul>

    {% if badge.description %}
        <dt>Description:</dt>
            <dd class="description">{{ badge.description }}</dd>
    {% endif %}
    <dt>Creator:</dt>
        {% if badge.creator %}
            <dd><a href="/people/{{ badge.creator}}">{{ badge.creator }}</a></dd>
        {% else %}
            <dd>{{ badge.creator }}</dd>
        {% endif %}
    <dt>Created:</dt>
        <dd>{{ badge.created }}</dd>
    <dt>Modified:</dt>
        <dd>{{ badge.modified }}</dd>
    <dt>Prerequisites:</dt>
        {% if prerequisites %}
            {% for prereq in completed_prereqs %}
                <dd><i class="icon-ok"></i><a href="/badger/badge/{{ prereq.slug }}">{{ prereq.slug }}</a></dd>
            {% endfor %}
            {% for prereq in uncompleted_prereqs %}
                <dd><a href="/badger/badge/{{ prereq.slug }}">{{ prereq.slug }}</a></dd>
            {% endfor %}
        {% else %}
            <dd> None </dd>
        {% endif %}
    {% if prerequisites %}
    <dt> Progress: </dt>
        {% if user_award %}
            <dd> You own this badge! </dd>
        {% elif progress %}
            <dd> {{ progress.percent }}% </dd>
        {% else %}
            <dd> 0% </dd>
        {% endif %}
    {% endif %}
    <dt>Retired:</dt>
            {% if badge.retired %}
                <dd> Yes </dd>
            {% else %}
                <dd> No </dd>
            {% endif %}
</dl>
